* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

body {
  background-color: #ffffff;
}

section {
  padding-right: 7%;
  padding-left: 7%;
  margin-top: 75px;
}

h1 {
  color: #0f2535;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid #0f2535;
  font-style: oblique;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

p {
  font-size: 18px;
  font-weight: 500;
}

.container {
  width: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcfcfc;
  border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 5rem;
  margin-top: 3rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 30px;
}

.gallery img {
  width: 100%;
}

.heading h2{
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #0f2535;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 4rem;
  font-weight: 800;
}
