:root {
    --main-color: #e8e8e8;
    --corparate-color: #0f2535;
    --border-color: #707070;
    --footer-color: #061016;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.partner {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 180px;
    margin-top: 60px;
  }
  
  .partner .our-clients h3 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #0f2535;
    font-family: "Dosis", sans-serif;
    font-size: 28px;
    font-weight: 800;
    background-color: #ffffff;
    margin-bottom: 3rem;
  }

  .partner .our-clients p{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: var(--corparate-color);
    font-size: 18px;
    font-weight: 500;
    font-family: 'Dosis', sans-serif;
    text-transform: none;
    margin-bottom: 4rem;

  }
  
  .our-clients {
    width: 100%;
    height: auto;
    text-align: center;
    display: grid;
    align-items: center;
  }
  
  .our-clients .container-partner {
    padding: 0;
    margin: 0;
  }
  
  .our-clients .container-partner .box {
    list-style: none;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 14px 13px 17px rgb(0 0 0 / 12%);
    transition: 1s;
  }
  
  .partner .our-clients .container-partner .box img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
  }
  .our-clients .container .box img:nth-child(1) {
    transform: translateY(0);
    transition: 0.5s;
  }
  .our-clients .container .box img:nth-child(2) {
    transform: translateY(0);
    transition: 0.5s;
  }
  
  .partner .box:hover {
    transform: scale(1.2);
  }