:root {
  --main-color: #e8e8e8;
  --corparate-color: #0f2535;
  --border-color: #707070;
  --back-color: #24292d;
  --gold-color: #c6911f;
  --footer-color: #061016;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

.project {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#eef3f5, #d2dce6);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -4rem;
  margin-bottom: -8rem;
}

.project .main img {
  width: 680px;
  max-width: 100%;
  height: auto;
  padding: 0 10px;
  padding-bottom: 5rem;
}

.all-text {
  width: 500px;
  max-width: 100%;
  padding: 0 10px;
}

.main {
  width: 900px;
  height: 400px;
  min-height: 70%;
  min-width: 87.5%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(250, 252, 255, 0.856);
  border-radius: 40px;
}

.all-text h4 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #272727;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 25px;
  opacity: 0.7;
}

.all-text h1 {
  font-size: 45px;
  color: var(--corparate-color);
  font-weight: 700;
  margin-bottom: 25px;
}

.all-text p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #272727;
  line-height: 30px;
  margin-bottom: 25px;
  opacity: 0.7;
  text-transform: none;
}

.btn button {
  background: var(--corparate-color);
  padding: 20px 32px;
  font-size: 14px;
  font-weight: bold;
  color: rgba(250, 252, 255, 0.856);
  border: none;
  outline: none;
  border-radius: 10px;
}

.btn button:hover {
  background-color: var(--gold-color);
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

@media screen and(max-width: 1250px) {
  .project {
    width: 100%;
    height: 100%;
    padding: 60px 0;
  }
  .all-text {
    text-align: center;
    margin-top: 40px;
  }
}

@media screen and(max-width: 650px) {
  .project .main img {
    margin-bottom: 35px;
  }
  .all-text h1 {
    font-size: 45px;
    margin-bottom: 20px;
  }
}

.wrapper {
  background-color: var(--back-color);
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  transition: all 0.3s ease;
  margin-bottom: 8.03rem;
  margin-top: 8.03rem;
}

.wrapper .wrapper-text {
  padding: 50px 0;
  align-items: center;
  text-align: center;
}

.wrapper .wrapper-href {
  align-items: center;
  text-align: center;
}

.wrapper .wrapper-text p {
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #e8e8e8;
  text-decoration: none;
  text-transform: none;
}

.wrapper .wrapper-href a {
  color: #e8e8e8;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.wrapper .wrapper-href i {
  size: 1px;
}

.wrapper .wrapper-href a:hover {
  color: var(--gold-color);
  transition: all 5ms ease;
}

.card-title {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  color: #27213c;
  text-align: center;
  padding: 3rem 1.5rem;
}

.cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -250px;
}

.col {
  width: calc(22% - 2rem);
  margin: 0.7rem;
  cursor: pointer;
}

.container {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.front,
.back {
  background-size: cover;
  background-position: center;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
  text-align: center;
  min-height: 320px;
  height: auto;
  border-radius: 10px;
  color: #000;
  font-size: 1rem;
}

.back {
  background-color: var(--corparate-color);
}

.back .inner p {
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  text-transform: none;
}

.back .inner a {
  color: var(--main-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.back .inner a:hover {
  color: var(--gold-color);
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  opacity: 1;
  background-color: #edeef0;
  backface-visibility: hidden;
  border-radius: 10px;
}

.container:hover .front,
.container:hover .back {
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 53%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  outline: 1px solid transparent;
  perspective: inherit;
  z-index: 2;
}

.container .back {
  transform: rotateY(180deg);
}

.container .front {
  transform: rotateY(0deg);
}

.container:hover .back {
  transform: rotateY(0deg);
}

.container:hover .front {
  transform: rotateY(-180deg);
}

.front .inner p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  color: var(--corparate-color);
  text-align: center;
  position: relative;
}

.front .inner a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--corparate-color);
}

.front .inner p:after {
  content: "";
  width: 8rem;
  height: 1px;
  position: absolute;
  background: #000;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.35rem;
}

.inner a {
  text-decoration: none;
}

.inner a:hover {
  color: #fff;
  transition: all 0.3s;
}

@media screen and (max-width: 68rem) {
  .col {
    width: calc(33.333333% - 4rem);
  }
}

@media screen and (max-width: 52rem) {
  .col {
    width: calc(45% - 2rem);
  }
}

@media screen and (max-width: 38rem) {
  .col {
    width: 60%;
  }
}
